/* Base styles */
body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
}

/* Transitions */
a, .btn, .card {
  transition: all 0.3s ease;
}
